.input-field label {
	color: #03A9F4!important;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #03A9F4;
     box-shadow: 0 1px 0 0 #03A9F4;
}

.breadcrumb:last-child {
	color:rgba(255, 255, 255, 0.7);
}

.colorWhite{
	color:white !important;
}